@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-mode{
    background-color: black;
    color: white;
    height: 100%;
}
.light-mode{
background-color: white;
color: black;
}
.profile_image{
box-shadow: 0px 0px 40px 20px rgb(45, 57, 224);
}
.download_Button:hover{
    box-shadow: 0px 0px 40px 20px rgb(45, 57, 224);
    transition: 300ms;
}
.download_Button:hover::after{
transition: 300ms;
}

